<h1>Listing object_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @object_types.each do |object_type| %>
  <tr>
    <td><%= object_type.name %></td>
    <td><%= object_type.url_id %></td>
    <td><%= link_to 'Show', object_type %></td>
    <td><%= link_to 'Edit', edit_object_type_path(object_type) %></td>
    <td><%= link_to 'Destroy', object_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Object type', new_object_type_path %>
