<%= form_for(@verb) do |f| %>
  <% if @verb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@verb.errors.count, "error") %> prohibited this verb from being saved:</h2>

      <ul>
      <% @verb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url_id %><br />
    <%= f.text_field :url_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
