<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @verb.name %>
</p>

<p>
  <b>Url:</b>
  <%= @verb.url_id %>
</p>


<%= link_to 'Edit', edit_verb_path(@verb) %> |
<%= link_to 'Back', verbs_path %>
